html {
  color: #444;
  font-size: 1em;
  line-height: 1.4;
}

img,
svg {
  vertical-align: middle;
}

a {
  color: #444;
  text-decoration-color: #db222a;
  text-decoration-thickness: 0.1rem;
}

html {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 37.5rem;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: 600;
}

h1 b {
  color: #db222a;
  font-weight: inherit;
}

.dates {
  color: #888;
  font-weight: 600;
  margin: -1rem 0 1rem;
  font-size: 1rem;
  text-align: center;
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

